<!DOCTYPE html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/public/css/spinner.css">
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link rel="icon" type="img/png" href="/public/img/logg.png"/>
<title>Contact Goon</title>

<!-- HEADER SECTION -->
<nav>
    <div class="logo">
        <i class="fas fa-code"></i><h1>GONZALO</h1><i class="fas fa-code"></i>
      </div>
    <input type="checkbox" id="click" />
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li class="active"><a href="home.html">HOME</a></li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/projects">RECENTS PROJECTS</a></li>
      <li><a href="/about">ABOUT</a></li>
    </ul>
  </nav>
  <!-- END HEADER SECTION  -->
<!-- MODAL -->
<div class="mcontainer" id="modal">
    <div class="modal-container">
        <div class="wrapper">
            <header>Send us a Message</header>
            <form action="https://formsubmit.co/gonfarias6@gmail.com" method="post">
                <div class="dbl-field">
                    <div class="field" for="name">
                        <input type="text" id="name" name="name" placeholder="Enter your name" autocomplete="off">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="field" for="email">
                        <input type="text" id="email" name="email" placeholder="Enter your email" autocomplete="off">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div class="dbl-field">
                    <div class="field" for="phone">
                        <input type="text" id="phone" name="phone" placeholder="Enter your phone" autocomplete="off">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="field" for="website">
                        <input type="text" id="website" name="website" placeholder="Enter your website" autocomplete="off">
                        <i class="fas fa-globe"></i>
                    </div>
                </div>
                <div class="message" for="massage">
                    <textarea placeholder="Write your message" id="massage" name="massage"></textarea>
                    <i class="material-icons"></i>
                </div>
                <div class="button-area">
                    <button type="submit" id='submit' class="btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- FOOTER SECTION  -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Responsive Design</a></li>
                        <li><a href="#">Edit Section</a></li>
                        <li><a href="#">Web Design</a></li>
                    </ul>
                </div>
                <div class="icons">
                    <a href="https://www.instagram.com/gonzalofarias11/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/goon.farias.50" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/farias_goon" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/goonfarias11" target="_blank"><i class="fab fa-github"></i></a>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/about">Skills</a></li>
                        <li><a href="/contact">Contact Me</a></li>
                    </ul>
                </div>
        </div>
    </footer>
  </div>
  
  <!-- END FOOTER SECTION -->

  <!-- SPINNER SECTION  -->
<diV class="lds-dual-ring loader" id="loader"></diV>
<!-- END SPINNER SECTION -->

<script>
    window.addEventListener("load", function () {
      document.getElementById("loader").classList.toggle("loader2");
    });
</script>

<script type='text/javascript'>
     $('form').submit(function(e){
       var error='';

       if($('#email').val()==""){
         error +="The email field is required.<br>"
       }
       if($('#name').val()==""){
         error +="The name field is required.<br>"
       }
       if($('#phone').val()==""){
         error +="The phone field is required.<br>"
       }
       if($('#massage').val()==""){
         error +="The content field is required.<br>"
       }
       if($('#website').val()==""){
         error +="The website field is required.<br>"
       }
       if(error !=""){
         $("#error").html('<div class="alert alert-danger"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>')
         return false;
       }else{
         return true;
       }
     })
   
   
   </script>